# MongoDB Connection
MONGO_URI=mongodb+srv://smartnotes_user:LSMd876etAtaOjVO@cluster0.eavns.mongodb.net/?appName=Cluster0

# JWT Secret (Change this to a strong secret key!)
JWT_SECRET=608bb124a10846ddbf0fd51fb82e631de3574bf40ad21939c03c6097518f0a59

# Server Port
PORT=5000

# Environment
NODE_ENV=development
